<div class="moviesPage" [ngClass]="checked ? 'dark': 'light'">
    <div class="navbar" [ngClass]="checked ? 'dark': 'light'">
        <div class="container">
            <button [ngClass]="checked ? 'dark': 'light'" type="submit" class="backButton" mat-stroked-button
                (click)="backToLogin()">Back To Login</button>
        </div>
        <mat-slide-toggle class="slider" [color]="color" [ngClass]="checked ? 'dark': 'light'" class="example-margin"
            [checked]="checked" (change)="toggleChange($event)">
            Dark Mode
        </mat-slide-toggle>
        <div class="search"> <input [ngClass]="checked ? 'dark': 'light'" class="searchBar"
                (keyup)="searchTerm$.next($event.target['value'])" placeholder="Ex: Mind Hunter" aria-label="Search"
                name="search">
        </div>
        <mat-paginator [ngClass]="checked ? 'dark': 'light'" class="paginationArea" [length]="count"
            [pageSize]="pageSize" (page)="handlePageEvent($event)">
        </mat-paginator>
    </div>
    <div class="movieArea" [ngClass]="checked ? 'dark': 'light'">
        <div class="main">
            <ul class="cards">
                <li class="cards_item" *ngFor="let movie of movieList">
                    <div class="card">
                        <div class="card_content">
                            <div class="card-details">
                                <div class="card_image"><img class="movieImage"
                                        src="https://ui-avatars.com/api/?name={{movie.title}}">
                                </div>
                                <div>
                                    <h2 class="card_title" [ngClass]="checked ? 'dark': 'light'">{{movie.title}}</h2>
                                    <div class="card_genre" [ngClass]="checked ? 'dark': 'light'">{{movie.genres}}</div>
                                </div>

                            </div>
                            <p class="card_text" [ngClass]="checked ? 'dark': 'light'">{{movie.description|description}}
                            </p>
                            <button class="btn card_btn" [ngClass]="checked ? 'dark': 'light'" type="button"
                                (click)="goToDetails(movie)">Know More</button>
                        </div>
                    </div>
                </li>
                <div class="no-data" *ngIf="movieList.length===0">No data Available</div>
            </ul>
        </div>


    </div>
</div>